@media (max-width: 344px) {
    .top {
        height: 650px;
        background-position: 32%;

        &__title {
            font-size: 28px;
            width: 343px;
            text-align: center;
            padding-top: 180px;
        }

        &__text {
            width: 300px;
            font-size: 12px;
            line-height: 20px;
        }

        &__button {
            font-size: 16px;
        }

        &__bold {
            font-size: 14px;
        }
    }

    .game {
        height: 900px;

        &__text {
            font-size: 12px;
            line-height: 20px;
            width: 300px;
        }

        &__card {
            width: 300px;
            height: 250px;
        }

        &__heading {
            font-size: 28px;
        }

        &__button {
            font-size: 16px;
        }

        &__picture {
            width: 300px;
            order: 1;
        }

        &-one {
            height: 653px;
        }
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 735px;
        background-position: 31%;

        &__title {
            font-size: 32px;
            width: 343px;
            text-align: center;
        }

        &__text {
            width: 343px;
            font-size: 14px;
            text-align: center;
            line-height: 22px;
        }

        &__button {
            margin-left: 56px;
        }

        &__bold {
            font-size: 14px;
        }
    }


    .game {
        height: 1221px;

        &__content {
            justify-content: center;
        }

        &__card {
            width: 343px;
        }

        &__link {
            width: 343px;
        }

        &__container {
            align-items: center;
        }

        &__heading {
            font-size: 32px;
            text-align: center;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: auto;
        }

        &__picture {
            width: 344px;
            order: 1;
        }

        &-one {
            height: 653px;
            justify-content: center;
        }
    }
}