* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;

    &__content {
        padding-top: 217px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }

    &__title {
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        width: 700px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; 
        width: 481px;
        margin-top: 32px;
    }

    &__button {
        border: none;
        width: 234.063px;
        margin-top: 44px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #9C0332;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__bold {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
}

.game {
    background-color: #000915;
    height: 556px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    &__card {
        height: 300px;
        width: 377px;
        position: relative;
        transition: border .3s;
        box-sizing: border-box;

        &:hover {
            border: 3px solid #44D2FF;
            border-radius: 18px;
        }
    }

    &__image {
        border-radius: 18px;
        width: 100%;
        height: 100%;
    }

    &__naming {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        position: absolute;
        left: 32px;
        bottom: 32px;
        text-decoration: none;
    }

    &-one {
        height: 800px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__container {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    &__heading {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 584px;
    }

    &__button {
        width: 235px;
        height: 48px;
        border-radius: 30px;
        background: #9C0332;
        outline: none;
        border: none;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: background .3s;
        cursor: pointer;

        &:hover {
            background: #EB443F;
        }
    }
}


@import 'mobile';